<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/criaconta.css">
</head>
<body>
    
    <section>
        <form action="/mensagem" method="post">
            <div class="titulo">
                <h2 class="criaconta_text">Criar Conta no</h2>
                <main>

                    <h2 class="k">K</h2>
                    <h2 class="music">Music</h2>
                </main>
            </div>
            <div>
                <label for="email">Email Válido:</label>
                <input type="text" name="email" id="email">
            </div>
            <div>
                <label for="senha">Senha Forte:</label>
                <input type="text" name="senha" id="senha">
            </div>
            <input type="submit" class="envia">
        </form>
    </section>
</body>
</html>