<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>inicio</title>
    <link rel="stylesheet" href="/static/css/inicio.css">
    <link rel="stylesheet" href="/static/fontawesome-free-6.5.2-web/css/all.css">
</head>
<body>
    <main>
        <div class="apresentação">
            <h1 class="saudacao">Bem Vindo ao</h1>
            <div class="div_logo">
                <h2 class="k">K</h2>
                <h2 class="music">Music</h2>
            </div>
            <img src="/static/assets/logo.jpeg" alt="logo Kmusic" class="logo">
        </div>
        <section id="musicas">
        </section>
        <button class="sair"><a href="/" id="logout"><i class="fa-regular fa-circle-xmark"></i></a></button>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/static/js/inicio.js"></script>
</body>
</html>
