<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=s, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/mensagem.css">
</head>
<body>
    <main>
        <div class="titulo">
            <h2>Sua conta foi criada!</h2>
            <div class="agradecimento">
                <h2>obrigado por fazer parte do</h2>
                <div class="logo">
                    <h2 class="k">K</h2>
                    <h2 class="music">Music</h2>
                </div>
            </div>
        </div>
        <button class="envia"><a href="/">voltar</a></button>
    </main>
</body>
</html>