*{font-family: sans-serif;}
body{
    background-image: url('/static/assets/notes.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 624px;
}
main{
    height: 300px;
    width: 600px;
    background-color: rgba(235, 235, 244, 0.8);
    border-radius: 10px;
    margin-right: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.envia{
    width: 180px;
    height: 60px;
    border-radius: 8px;
    border: none;
    margin-top: 30px;
    background-color: #043f92;
    box-shadow: rgb(5,10,15,0.5);
    font-size: 14px;
    cursor: pointer;
}

.agradecimento{
    display: flex;
    flex-direction: row;
}
.k{
    color: #a31f1f;
    margin-left: 15px;
}
.music{
    color: #f2de45;
    margin-right: 15px;
}

.titulo{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.logo{
    margin-left: 10px;
    border-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;

}
a{
    text-decoration: none;
    color: #fff;
}
